<% if (isParent) { %>

<div class="status-category list" data-category="<%= parent %>">
  <div class="ui container segment overall-status">
    <div class="ui grid">
      <h3 class="header high ten wide column">
        <i class="check circle icon" style="color: #33cc33"></i>
        <%= title %>
      </h3>
      <div
        class="expand-category two wide column right floated right aligned"
        data-category="<%= parent %>"
      >
        <i class="plus icon"></i>
      </div>
      <div
        class="collapse-category hidden two wide column right floated right aligned"
        data-category="<%= parent %>"
      >
        <i class="minus icon"></i>
      </div>
    </div>
    <div class="ui container status-chart-container category-chart">
      <div class="status-chart">
        <% for (var i = 0; i < 100; i++) { %>
        <div class="green"></div>
        <% } %>
      </div>
    </div>
    <div class="child-statuses hidden ui list"></div>
  </div>
</div>

<% } else { %>
<div class="service-health" data-service="<%= service.rule.id %>">
  <div class="ui container segment nobackground">
    <div class="ui grid">
      <h3 class="header ten wide column">
        <%= service.rule['display-name'] %>
      </h3>
      <i
        class="check circle icon two wide column right floated right aligned"
        style="color: #33cc33"
      ></i>
    </div>
    <div class="ui container status-chart-container">
      <div class="status-chart ui" data-max="<%= maxTime %>">
        <% for (let check of service.checks) { %> <% if (check.healthy === true)
        { %>
        <div
          class="green"
          title="<%=new Date(check.time).toLocaleString()%><%= check.message ? `: ${check.message}` : '' %>"
        ></div>
        <% } else if (check.healthy === false) { %>
        <div
          class="red"
          title="<%=new Date(check.time).toLocaleString()%><%= check.message ? `: ${check.message}` : '' %>"
        ></div>
        <% } else { %>
        <div
          class="gray"
          title="<%=check.time ? new Date(check.time).toLocaleString() : '' %><%= check.message ? `: ${check.message}` : '' %>"
        ></div>
        <% } %> <% } %>
      </div>
    </div>
    <div class="uptime-container">
      <div class="uptime"></div>
      <hr />
    </div>
  </div>
</div>
<% } %>
