<% if (isParent) { %>

<div class="status-category list" data-category="<%= parent %>" data-expanded="0">
  <div class="ui container segment overall-status">
    <div class="ui grid">
      <h3 class="header high ten wide column">
        <i class="question circle icon category-icon" icon-color="gray"></i>
        <%= title %>
      </h3>
      <div
        class="expand-category two wide column right floated right aligned"
        data-category="<%= parent %>"
      >
        <i class="plus icon"></i>
      </div>
      <div
        class="collapse-category hidden two wide column right floated right aligned"
        data-category="<%= parent %>"
      >
        <i class="minus icon"></i>
      </div>
    </div>
    <div class="ui container status-chart-container category-chart">
      <div class="status-chart">
        <% for (var i = 0; i < 100; i++) { %>
        <div class="gray"></div>
        <% } %>
      </div>
    </div>
    <div class="child-statuses hidden ui list"></div>
  </div>
</div>

<% } else { %>
<div class="service-health" data-service="<%= service.rule.id %>">
    <div class="ui container segment nobackground">
        <div class="ui grid">
            <h3 class="header ten wide column">
                <%= service.rule['display-name'] %>
            </h3>
            <i
                class="question circle icon two wide column right floated right aligned service-icon"
                icon-color="grey"
            ></i>
        </div>
    </div>
    <div class="status-chart ui" data-max="<%= maxTime %>">
            <% for (let check of checks) { %>
                <% if (check.health === 1) { %>
                    <div class="green" data-tooltip="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else if (check.health === 2) { %>
                    <div class="orange" data-tooltip="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else if (check.health >= 3) { %>
                    <div class="red" data-tooltip="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else { %>
                    <div class="gray" data-tooltip="<%=check.time ? new Date(check.time).toLocaleString() : '' %><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } %>
            <% } %>
    </div>

    <div class="uptime-container">
      <div class="uptime"></div>
      <hr />
    </div>
  </div>
</div>
<% } %>
