<% if (isParent) { %>

<div class="status-category" data-category="<%= parent %>">
<div class="ui container segment grid overall-status">
  <div class="ui main container pad-top">
    <h3 class="header high">
      <div class="expand-category" data-category="<%= parent %>">&oplus;</div>
      <div class="collapse-category hidden" data-category="<%= parent %>">&otimes;</div>
      <%= title %>
    </h3>
  </div>
  <div class="ui container status-chart-container category-chart">
    <div class="status-chart">
      <% for (var i = 0; i < 100; i++) { %>
      <div class="green"></div>
      <% } %>
    </div>
  </div>
  <div class="child-statuses hidden ui grid container"></div>
</div>
</div>

<% } else { %>
<div class="service-health" data-service="<%= service.rule.id %>">
    <div class="ui container segment grid nobackground">
        <div class="ui main container pad-top">
            <h3 class="header">
                <%= service.rule['display-name'] %>
            </h3>
        </div>
        <div class="ui container status-chart-container">
            <div class="status-chart" data-max="<%= maxTime %>">
            <% for (let check of checks) { %>
                <% if (check.health === 1) { %>
                    <div class="green" title="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else if (check.health === 2) { %>
                    <div class="orange" title="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else if (check.health >= 3) { %>
                    <div class="red" title="<%=new Date(check.time).toLocaleString()%><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } else { %>
                    <div class="gray" title="<%=check.time ? new Date(check.time).toLocaleString() : '' %><%= check.messages.length ? `: ${check.messages.join(', ')}` : '' %>"></div>
                <% } %>
            <% } %>
            </div>
        </div>
        <div class="uptime-container">
            <div class="uptime"></div>
            <hr />
        </div>
    </div>
</div>
<% } %>
